body {
  background: url("../images/about.jpg") no-repeat center/cover fixed;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

.give-bg {
  background-color: rgba(234, 21, 56, 0.8);
  padding: 20px;
  border-radius: 10px;
  height: 20vh;
  min-height: 23vh;
  margin: 20px auto;
  padding: 30px;
  min-width: 3vw;
  max-width: 60vw;
}
.people {
  background-color: rgba(234, 21, 56, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 10vh;
  max-height: 28vh;
  margin: 5px 20px;
  padding: 30px;
  max-width: 60vw;
  display: flex;
  justify-content: space-evenly;
  gap: 50px 30px;
}
.people img {
  width: 10vw;
  border-radius: 10%;
}
.people:hover,
.give-bg:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.team-title {
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.people h1,
.people p,
.give-bg {
  text-align: justify;
  color: #ffffff;
  font-size: calc(0.5em + 0.8vw);
}
.people p {
  margin-top: 10px;
}
.give-bg ul {
  text-align: center;
  list-style-position: inside;
}
