body {
  background: url("../images/contact.jpg") no-repeat center/cover fixed;
}
h1,
a,
a:visited {
  color: white;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page-center {
  background-color: rgba(234, 21, 56, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 60vw;
  height: 50vh;
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 20px;
  font-size: 1.7em;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.contact-page-center:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}
